<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.passin.pmvp.example">


    <application
        android:name=".app.ModuleApplication"
        android:label="@string/example_app_name"
        android:theme="@style/ExampleAppTheme">
        <activity android:name="me.passin.pmvp.example.mvp.UserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


    </application>


</manifest>
